
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin:0;
padding:0;
box-sizing:border-box;
}
body{

    height:100vh;
    width:100vw;
}
.icone{
    padding-top: 20px;
}
.icon{
    color:white;
}
#pf{

}
/*
#main{
	
	display:flex;
}*/
#mainone{
    background-color:#000000;
    color:white;
	margin-left:125px;
}

nav.content{
    background-color: #2a2a2a;
    height: 900vh;
    position: fixed;
    width: 125px;
    overflow:hidden;
}
/*Estilizacao da fonte*/
.content{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 360;
    font-style: normal;
  }

ul{
margin-top: 20px;
    list-style: none;
}
ul li.item a{
    transition: .2s;
}
ul li.item a{
    margin-bottom: 30px;
    padding-left:25px ;
    color:white;
    font-size: 20px;
line-height: 40px;
display:flex;
}
ul li.activo{
    background-color: #000000;
}
.Name{
    padding-left: 20px;
}
ul li.item a:hover{
    height: 40px;
     background-color:#000000;
}
#abi{
    padding-left: 6px;

}

a{
    text-decoration: none;
}
/*-----------------footer-----------------*/
footer{
    color:aliceblue;
    background-color:#2a2c2c;
width:100vw;
}

/*----------------- end of footer-----------------*/