
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin:0;
padding:0;
box-sizing:border-box;
}
body{

    height:100vh;
    width:100%;
}
.icone{
    padding-top: 20px;
}
.icon{
    color:white;
}

nav.content{
    background-color: #2a2a2a;
    height: 900vh;
    position: fixed;
    width: 125px;
    overflow:hidden;
}
/*Estilizacao da fonte*/
.content{
    font-family: "monteserrat", monospace;
    font-optical-sizing: auto;
    font-weight: 360;
    font-style: normal;
  }
/*-------nav----------*/
.active{
    background-color: #000000;
}
.navel.active:hover{
    background-color:#2a2a2a;
}
.navel{
    align-items: center;
    justify-content: center;
    display:inline-flex;
    height:100px;
    width:125px;
    color:white;
    font-size: 15px;
transition:2s;
}
.icon{
    font-size: 20px;
    margin-left: 40%;
}

/*-------nav-----------*/

 .navel:hover{
     background-color:#000000;
}

a{
    color :white;
    text-decoration: none;
}
/*---------header--------*/
#header{
    justify-content: center;
    text-align: center;
}
/*----------tools----------*/
ul.tools{
    display:grid;
    gap: 6px;
    padding:10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    list-style: none;
}
.tools{
    height:200px;
    width: 800px;
    background-color: #2a2c2c;
}
img.tools{
    height:30px;
    width:30px;
}
/*--------main---------*/

#mainone{
    background-color:#000000;
    color:white;
	margin-left:125px;
}
#geral{    
margin:0px 125px 0px 125px;
}
/*-----------------footer-----------------*/
footer{
    color:aliceblue;
    background-color:#2a2c2c;
}
.linha-terra{
    width: 300px;
}
.cnt-input{
    height: 50px;
    width: 950px;
}
#btn-submit{
    height: 40px;
    width: 200px;
}
/*----------------- end of footer-----------------*/